---
/**
 * * Contact section for the website
 */

import { Image } from "astro:assets";

// components
import ContactForm from "@components/Forms/ContactForm.astro";

interface Props {
	class?: string;
}

const { class: className } = Astro.props as Props;

import ringsImage from "@assets/images/rings-min.jpg";
---

<section
	id="contacto"
	class="mx-auto max-w-md scroll-mt-10 px-4 py-8 md:max-w-6xl md:py-12"
	class:list={[className]}
>
	<h2 class="h2 md:px-12 lg:text-4xl text-center">¡Contáctanos!</h2>
	
	<div class="border-primary-300 pt-8 md:border-r md:pr-20 md:pl-12">
		<p class="description text-lg flex justify-center items-center md:justify-center">
			¿Tienes preguntas? Estoy para ayudarte. Llama o escribe al siguiente número y responderé lo antes posible.
		</p>

		<p class=" text-base-800 m-20 flex justify-center text-center text-[4rem] leading-none">
			<a
				href="https://wa.me/573178849065"
				class="text-primary-500 hover:text-primary-600 animate-pulse"
			>
				+57 317 8849065
			</a>
		</p>
		<div class="mx-auto mt-8 overflow-hidden">
			<Image
				src={ringsImage}
				alt="wedding rings"
				width={450}
				densities={[1.5, 2]}
				class="object-cover mx-auto block"
			/>
		</div>
	</div>

</section>
